body {
	overflow-x: hidden;
	background-color: transparent;
}

section.sidebar {
	z-index: 10;
	pointer-events: none;

	* {
		pointer-events: all;
	}
}

main {
	z-index: 10;
	position: relative;
}

canvas#rain {
	position: fixed;
	top: 0px;
	left: 0px;

	margin: 0px;
	padding: 0px;

	z-index: 0;

	background-color: $bg-col;
}
