$bg-col: #0A0A0A;
$fg-col: darken(invert($bg-col), 10);
$light-bg-col: lighten($bg-col, 4);
$fade-col: rgba($fg-col, 0.2);

$link-color: #6584DF;
$visited-color: #D9619F;

$col1: #fad07a;
$col2: #8197bf;

$font-size: 11pt;
$padding: 20px;

$sidebar-width: 200px;

// All

* {
	box-sizing: border-box;
}

// Specific layout elements

body {
	margin: 0px;

	background-color: $bg-col;
	color: $fg-col;

	font-size: $font-size;
	font-family: sans-serif;
}

section.sidebar {
	width: $sidebar-width;
	min-height: 100vh;
	padding: $padding;

	position: fixed;
}

main {
	min-height: 100vh;
	max-width: 800px;
	margin-left: $sidebar-width;
	padding: $padding;

	background-color: $light-bg-col;
}

section.post-overview {
	margin: $padding/2 0px;
	padding: $padding/2;
	padding-right: ($padding/2) + 2px; // To allow non-jumpy hover

	background-color: $bg-col;

	&:hover {
		border-right: 2px $fg-col solid;
		padding-right: $padding/2;
	}

	h2 {
		margin: 0px;

		word-wrap: none;
	}

	blockquote,
	code[class] {
		background-color: $light-bg-col;
	}
}

.columns {
	display: flex;
	flex-wrap: wrap;

	&.vertical-align {
		align-items: center;
	}

	& > .expand {
		flex: 1;
	}
}

.previous-next {
	display: flex;

	& > *:first-child {
		flex: 1;
		text-align: left;

		&::before { content: "< "; }
	}

	& > *:last-child {
		flex: 1;
		text-align: right;

		&::after { content: " >"; }
	}
}

// Typography and other elements

h1 { font-size: 1.5rem; }
h2 { font-size: 1.25rem; }
h3 { font-size: 1.0rem; }

h1, h2, h3 {
	clear: both;
}

mark {
	background-color: inherit;
	color: $col1;
}

q {
	quotes: '"' '"' "'" "'";
}

blockquote {
	margin: 0px;
	margin-left: $padding;

	font-style: italic;
	background-color: $bg-col;
	border-left: 2px $fade-col solid;

	& > p {
		margin: 0px;
		padding: $padding/2;
	}

	cite {
		&::before {
			content: " - ";
		}

		color: $col2;
	}
}

aside {
	&::before {
		display: block;

		color: $col1;
		content: "Side Note:";
	}

	float: right;
	width: 40%;

	margin: 0px 0px $padding $padding;
	padding: $padding*0.75;

	border: 1px $fade-col dashed;

	& > *:last-child {
		margin-bottom: 0px;
	}
}

a[href] {
	color: $link-color;

	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}

	&:visited {
		color: $visited-color;
	}
}

a[href].no-style {
	color: inherit;
	text-decoration: inherit;
}

div.highlight {
	display: inline;
}

pre.highlight { // Blocks of code
	padding: $padding/2;

	overflow-x: auto;
}

code[class] { // Inline code
	padding: 1px 3px;
	color: #c6b6ee;
	background-color: $bg-col;
}

nav {
	h2 {
		font-size: $font-size;
		font-weight: normal;
	}
}

hr {
	margin: $padding 0px;
	clear: both;

	border: 0px;
	border-bottom: 1px $fade-col solid;
}

table {
	border-collapse: collapse;

	thead > * {
		background-color: $bg-col;
	}

	tbody > tr:nth-child(even) {
		background-color: $bg-col;
	}

	td, th {
		padding: 4px 7px;
	}

	th {
		border-bottom: 2px $fg-col solid;
	}
}

ul.plain-list,
ol.plain-list {
	padding: 0px;

	li {
		margin: 0px;

		list-style: none;
	}
}

ul > li {
	list-style-type: "- ";
}

// Forms

input[type="text"],
input[type="email"],
textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.5rem 0.5rem;

	background-color: $bg-col;
	color: $fg-col;
	border: 0px;

	&:focus {
		outline: 1px solid $col2;
	}
}

button {
	padding: 0.5rem 0.5rem;

	background-color: $fg-col;
	color: $bg-col;
	border: 0px;
}

// Other

.right-pad {
	margin-right: $padding;
}

.bottom-marg {
	margin-bottom: $padding;
}

.fade-out {
	opacity: 0.3;
}

.clear {
	clear: both;
}

// Animations

@keyframes flashing-prompt {
	50% { color: transparent; }
	100% { color: $fg-col; }
}

.flashing-prompt {
	font-family: monospace;

	&::after {
		content: "\2588";
		color: transparent;

		animation-name: flashing-prompt;
		animation-duration: 1s;
		animation-timing-function: steps(1, start);
		animation-iteration-count: 8;
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.spinner::before {
	content: '';
	display: inline-block;

	width: 1ex;
	height: 1ex;

	border: 2px solid $bg-col;
	border-radius: 1ex;
	border-right-color: transparent;

	animation-name: spin;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

// Mobile

@media (max-width: 700px) {
	section.sidebar {
		width: auto;
		min-height: initial;
		display: block;
		position: relative;

		h2 {
			display: inline;

			&::after {
				content: ": ";
			}

			& + * {
				display: inline;
			}
		}

		ul {
			padding: 0px;

			li {
				display: inline;
				white-space: normal;
			}

			li:not(:last-child)::after {
				content: ', ';
			}
		}
	}

	main {
		margin-left: 0px;
	}

	aside {
		width: auto;
		float: none;
		margin: 0px;
	}
}
